<div class="help col-md-6 col-md-offset-3">
<h1>Instructions</h1>
<ul>

  <li>
Add pokemon to your team.
</li>
  <li>
Browse other pokemon and easily compare their potential stat increases with the rest of your team.
</li>
  <li>
Once you've built your team to your liking, tweet it out to your followers!
</li>
</ul>
</div>
