<div class="container-fluid">
  <div class="row team-row">
    <div class="col-md-6">
      PO PO PO PO PO PO
    </div>
  </div>
  <div class="row poke-display">
    <% @pokemon.each do |poke| %>
      <%= image_tag "#{poke.sprites.first.image}", class: "col-md-3 pokemon-display img-circle" %>
      <%= link_to "#{poke.name}", add_team_path(poke: poke), method: :put, class: "add-#{poke.name}-to-team" %>
    <% end %>
  </div>
</div>
