<link href="booklet/jquery.booklet.latest.css" type="text/css" rel="stylesheet" media="screen, projection, tv" />

    <div id="mybook">
      <div>
        <h3>Yay, Page 1!</h3>
      </div>
      <div>
        <h3>Yay, Page 2!</h3>
      </div>
      <div>
        <h3>Yay, Page 3!</h3>
      </div>
      <div>
        <h3>Yay, Page 4!</h3>
      </div>
    </div>
