<div ng-app="pokemonApp" ng-controller="homeController" class="container-fluid">
  <div class="row team-row">
    <div class="col-md-6">
      <% current_user.team_ball.each do |ball| %>
        <%= image_tag ball, class: "pokeball" %>
      <% end %>
    </div>
  </div>
  <div class="row poke-display">
      <%= render current_user.poke_display %>
  </div>
</div>
