.team-row {
  background-color: transparent;
}

.pokemon-display {
  min-height: 286px;
  background-color:rgba(0, 0, 0, 0.80)
}

.index {
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
  min-height: 100vh;
  cursor: url("cursor_ball.png");
}

.index-1 {
  background-image: image-url("growlth.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
  min-height: 100vh;
  cursor: url("cursor_ball.png");
}

.index-2 {
  background-image: image-url("blind-pikachu.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
  min-height: 100vh;
  cursor: url("cursor_ball.png");
}

.index-3 {
  background-image: image-url("gengar.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
  min-height: 100vh;
  cursor: url("cursor_ball.png");
}

.index-4 {
  background-image: image-url("snorlax.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
  min-height: 100vh;
  cursor: url("cursor_ball.png");
}

.index-5 {
  background-image: image-url("swampert.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
  min-height: 100vh;
  cursor: url("cursor_ball.png");
}

.index-6 {
  background-image: image-url("bulbasaur.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
  min-height: 100vh;
  cursor: url("cursor_ball.png");
}

.index-7 {
  background-image: image-url("dratini.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
  min-height: 100vh;
  cursor: url("cursor_ball.png");
}

.index-8 {
  background-image: image-url("jolteon.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
  min-height: 100vh;
  cursor: url("cursor_ball.png");
}

.index-9 {
  background-image: image-url("raichu.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
  min-height: 100vh;
  cursor: url("cursor_ball.png");
}

.index-0 {
  background-image: image-url("bellsprout.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
  min-height: 100vh;
  cursor: url("cursor_ball.png");
}
