.team-row {
  background-color: transparent;
}

.pokemon-display {
  size:100% 200%;
  background-color: blue;
  background-color:rgba(0, 0, 0, 0.10)

}

.index-1 {
  background-image: image-url("growlth.jpg");
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
}

.index-2 {
  background-image: image-url("blind-pikachu.jpg");
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
}

.index-3 {
  background-image: image-url("gengar.jpg");
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
}

.index-4 {
  background-image: image-url("snorlax.jpg");
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
}

.index-5 {
  background-image: image-url("swampert.jpg");
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
}

.index-6 {
  background-image: image-url("bulbasaur.jpg");
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
}

.index-7 {
  background-image: image-url("dratini.jpg");
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
}

.index-8 {
  background-image: image-url("jolteon.jpg");
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
}

.index-9 {
  background-image: image-url("raichu.jpg");
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
}

.index-0 {
  background-image: image-url("bellsprout.jpg");
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
}
