@import "bootstrap-sprockets";
@import "bootstrap";

@font-family {
  font-family: "PokemonSolid";
  src: local("*./fonts/PokemonSolid.ttf")
}

body {
}

.fronter-page{
  height:64vh;
  width: 98.8vw;
}

.bottom-box {
  background-image: image-url("bottombox.png");
  display: block;
  background-size: cover;
  height: 33.5vh;
  width: 100vw;
  background-repeat: no-repeat;
}

.front-description {
  padding-top: 30vh;
  font-family: 'PokemonSolid';
}

.attack-menu-btn {
  text-align: 58vh, 25vh;
  padding-left: 25vh;

}

