#nav-font {
  color: white;
}

.nav-background {
  background-image: image-url("footer.png");
  background-size: 100vw 105px, contain;
  background-repeat: no-repeat;
}

.nav-font {
color: white;
}

.nav {
  height:7vh;
  max-height:7vh;
}

.navbar-default{
  height:7vh;
  max-height:7vh;
}

#footer {
  background-image: image-url("bot-footer.png");
  background-size: 100vw 9vh, contain;
  background-repeat: no-repeat;
  background-position: center;
  border-left: 3vw;
  display: block;
  color:red;
  clear:both;
  padding: 2%;
  text-align:right;
  height:7vh;
}
