.poke-text {
  text-align: center;
}

.big_red{
  color: #bf0000;
  font-weight: bold;
  font-size: 1.6em;
}
.big_green{
  color: green;
  font-weight: bold;
  font-size: 1.6em;
}
.small_red{
  color: red;
  font-size: 1.5em;
}
.small_green{
  color: green;
  font-size: 1.5em;
}
