.poke-text {
  text-align: center;
}

.delete-text a {
  float: right;
  text-align: center;
  vertical-align: 20%;
  font-size: 2em;
}

.full-team{
  color: white;
  font-size: 1em;
}

.first-stat {
  padding-top: 5px;
}

.poke-text a {
  font-size: 1em;
}

.big_red{
  color: #bf0000;
  font-weight: bold;
  font-size: 1em;
}
.big_green{
  color: green;
  font-weight: bold;
  font-size: 1em;
}
.small_red{
  color: red;
  font-size: 1em;
}
.small_green{
  color: green;
  font-size: 1em;
}
