<div class="container-fluid front-page">
  <div class="row">
    <h1 class="text-center front-description">LOGIN PLESSE YO</h1>

    <div class="col-sm-6 col-sm-6-offset">
      <%= link_to "LOGIN", '/auth/gplus', method: :get, class: "attack-menu-btn" %>
    </div>

  </div>



</div>
