<div class="container-fluid">
  <div class="row top-one">
    <div class="col-md-12">
      <%= image_tag "front-background3.png", class: "fronter-page" %>
      <div class="row bottom-box">
        <div class="col-md-3 col-md-offset-5">
          <h2>&nbsp</h2>
          <h1>
            <%= link_to "TWITTER LOGIN", 'auth/twitter' %>
          </h1>
          <h4>&nbsp</h4>
          <h1>CONTACT</h1>
        </div>
        <div class="col-md3">
          <h2>&nbsp</h2>
          <h1>ABOUT</h1>
          <h4>&nbsp</h4>
          <h1>RUN</h1>
        </div>
      </div>
    </div>
  </div>
</div>
