<div class="front-page">

  <header id="top" class="header">
  <div class="text-vertical-center">
    <h1>because you don't have to
      <br>  wear what your
      <br> mother gave you</h1>
    <br>
    <br>
    <br>
  </div>
  </header>
  <%#=image_tag("background_blur.jpg", alt: "blurred image of a black and white library with a few books in focus")%>

</div>
