<!DOCTYPE html>
<html>
  <head>
    <title>Reader</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script> window.jQuery || document.write('<script src="booklet/jquery-2.1.0.min.js"><\/script>') </script>

      <!-- jQuery UI (optional) -->
      <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
      <script> window.jQuery.ui || document.write('<script src="booklet/jquery-ui-1.10.4.custom.min.js"><\/script>') </script>

        <!-- Booklet -->
        <script src="booklet/jquery.easing.1.3.js"></script>
        <script src="booklet/jquery.booklet.latest.min.js"></script>

      </head>
      <body>

        <%= yield %>

      </body>
    </html>
